# Build directories
build/
build_rel/
bin/
obj/
out/
.cache/

# Visual Studio / IDE
.vs/
*.sln
*.vcxproj*
.vscode/

# Compiled Binaries and Objects
*.exe
*.dll
*.sys
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.idb

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja
.ninja_*
compile_commands.json
